@using TheFipster.Zomboid.ServerControl.Modules;
@using TheFipster.Zomboid.ServerControl.Services;

@inject DockerInteropService DockerInterop
@inject IJSRuntime JsRuntime

<div id="fip-logs">
    <h2>
        <i class="fa-solid fa-file-lines"></i>
        Server logs
    </h2>

    <ul>
        @foreach (var log in logs)
        {
            <li>
                @log
            </li>
        }
    </ul>

    <button id="showmods-btn"
            class="fip-button"
            @onclick="() => onShowModsClickAsync()">
        Don't care, take me back
        <span class="fip-smaller">(when the server is ready this happens automatically)</span>
    </button>
</div>
