#page-header {
    position: fixed;
    height: 100px;
    width: 80%;
    min-width: 400px;
    left: calc(10% - 55px);
    padding: 0 55px;
    background: #171046;
    border-bottom: 2px solid #e4a9ff;
    z-index: 1;
    transition-duration: .2s;
}

#fips-app {
    min-height: calc(100vh - 204px);
    min-width: 400px;
    width: 80%;
    margin: auto;
    padding: 130px 55px 70px 55px;
    background: rgba(0,0,0,0.6);
    border-bottom: 2px solid #e4a9ff;
    transition-duration: .2s;
}

#status-bar {
    position: fixed;
    height: 50px;
    min-width: 400px;
    width: 80%;
    bottom: 0;
    left: calc(10% - 55px);
    padding: 0 55px;
    background-color: #341E4F;
    border-top: 2px solid #e4a9ff;
    z-index: 1;
}

@media only screen and (max-width: 1250px) {
    #page-header {
        width: calc(100% - 110px);
        left: 0;
        height: 50px;
    }

    #fips-app {
        width: calc(100% - 110px);
        padding: 90px 55px 70px 55px;
    }

    #status-bar {
        width: calc(100% - 110px);
        left: 0;
    }
}

@media only screen and (max-width: 800px) {
    #page-header {
        height: 100px;
    }

    #fips-app, #fips-app.shrink {
        padding: 130px 55px 70px 55px;
    }
}