.fip-container {
    width: 80%;
    min-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
}

.fip-header {
    height: 100px;
    background: rgba(0,0,0,0.6);
    padding: 0 55px;
}

.fip-content {
    display: flex;
    gap: 55px;
    justify-content: space-between;
    align-content: stretch;
    background: rgba(0,0,0,0.6);
    padding: 40px 55px;
}

.fip-footer {
    height: 50px;
    background: rgba(0,0,0,0.6);
    padding: 0 55px;
}

@media only screen and (max-width: 1400px) {
    .fip-container {
        width: 90%;
        transition-duration: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .fip-container {
        width: 100%;
        min-width: 600px;
    }

    .fip-header {
        height: unset;
    }
}