@inject IJSRuntime JsRuntime

<div>
    <a href="/">
        <h1>
            Zomboid Zamboni
        </h1>
    </a>

    <ul>
        <li title="Server Settings">
            <a href="/ini">
                <i class="fa-solid fa-file-code fa-xl"></i>
                Config
            </a>
        </li>
        <li title="Sandbox Settings">
            <a href="/sandbox">
                <i class="fa-solid fa-bucket fa-xl"></i>
                Sandbox
            </a>
        </li>
        <li title="Mod Manager">
            <a href="/mods">
                <i class="fa-solid fa-cubes fa-xl"></i>
                Mods
            </a>
        </li>
    </ul>
</div>