div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    display: block;
    margin: unset;
    margin-bottom: 4px;
    margin-right: 50px;
    font-size: 42px;
    font-weight: 300;
    color: #e4a9ff;
    text-align: center;
    line-height: 1.2;
}

a {
    text-decoration: none;
}