<nav class="nav-top-list">
    <ul>
        <li title="Changes to Server">
            <a href="/changes">
                <i class="fa-solid fa-arrows-split-up-and-left fa-xl"></i>
                <span>Changes</span>
            </a>
        </li>
        <li title="Server Settings">
            <a href="/settings">
                <i class="fa-solid fa-file-code fa-xl"></i>
                <span>Settings</span>
            </a>
        </li>
        <li title="Sandbox Settings">
            <a href="/sandbox">
                <i class="fa-solid fa-bucket fa-xl"></i>
                <span>Sandbox</span>
            </a>
        </li>
        <li title="Mod Manager">
            <a href="/mods">
                <i class="fa-solid fa-cubes fa-xl"></i>
                <span>Mods</span>
            </a>
        </li>
        <li title="Archive">
            <a href="/archive">
                <i class="fa-solid fa-box-archive fa-xl"></i>
                <span>Archive</span>
            </a>
        </li>
    </ul>
</nav>