a {
    text-decoration: none;
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
}

.nav-bar i {
    display: block;
}

.nav-bar ul {
    margin-top: 30px;
    display: flex;
    justify-content: start;
    gap: 50px;
}

.nav-bar li {
    text-transform: uppercase;
}

    .nav-bar li a {
        display: flex;
        gap: 10px;
        flex-direction: column;
        text-align: center;
        align-content: baseline;
    }

.nav-list button {
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    color: #f7dcff;
    cursor: pointer;
}

.nav-list ul {
    background-color: rgba(0,0,0,0.7);
    border: 1px solid #e4a9ff;
    margin: 20px 20px 20px -72px;
    padding: 0;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
}

.nav-list li {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 400;
    border-top: 1px solid #e4a9ff;
}

    .nav-list li:first-child {
        border-top: 0;
        border-radius: 20px 20px 0 0;
    }
    .nav-list li:last-child {
        border-radius: 0 0 20px 20px;
    }

    .nav-list li:hover {
        background-color: #6A3FBE;
        transition: 0.3s;
    }

.nav-list li i {
    margin-right: 10px;
}

@media only screen and (max-width: 1400px) {
    nav.nav-bar {
        display: none;
    }

    nav.nav-list {
        display: block;
    }
}
