a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

i {
    display: block;
    transition-duration: .4s;
}

span {
    height: 25px;
    color: #ccc;
}

ul {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    gap: 50px;
    transition-duration: 0.4s;
}

li {
    text-transform: uppercase;
}

@media only screen and (max-width: 1400px) {
    ul {
        gap: 20px;
    }
}

@media only screen and (max-width: 1000px) {

    ul {
        justify-content: center;
        margin-bottom: 10px;
    }

    i {
        font-size: 1.4rem;
    }

    span {
        height: 15px;
        color: #ccc;
        font-size: .8rem;
    }
}
