<nav class="nav-bar">
    <ul>
        <li title="Changes to Server">
            <a href="/changes">
                <i class="fa-solid fa-arrows-split-up-and-left fa-xl"></i>
                Changes
            </a>
        </li>
        <li title="Server Settings">
            <a href="/settings">
                <i class="fa-solid fa-file-code fa-xl"></i>
                Settings
            </a>
        </li>
        <li title="Sandbox Settings">
            <a href="/sandbox">
                <i class="fa-solid fa-bucket fa-xl"></i>
                Sandbox
            </a>
        </li>
        <li title="Mod Manager">
            <a href="/mods">
                <i class="fa-solid fa-cubes fa-xl"></i>
                Mods
            </a>
        </li>
        <li title="Archive">
            <a href="/archive">
                <i class="fa-solid fa-box-archive fa-xl"></i>
                Archive
            </a>
        </li>
    </ul>
</nav>

<nav class="nav-list hide">
    <button onclick="showNavMenu()" class="dropdown-btn">
        <i id="nav-menu-opener" class="fa-solid fa-bars fa-2xl"></i>
    </button>
    <ul id="nav-dropdown-slider" class="hide">
        <li title="Changes to Server">
            <a href="/changes">
                <i class="fa-solid fa-arrows-split-up-and-left"></i>
                Changes
            </a>
        </li>
        <li title="Server Settings">
            <a href="/settings">
                <i class="fa-solid fa-file-code"></i>
                Settings
            </a>
        </li>
        <li title="Sandbox Settings">
            <a href="/sandbox">
                <i class="fa-solid fa-bucket"></i>
                Sandbox
            </a>
        </li>
        <li title="Mod Manager">
            <a href="/mods">
                <i class="fa-solid fa-cubes"></i>
                Mods
            </a>
        </li>
        <li title="Archive">
            <a href="/archive">
                <i class="fa-solid fa-box-archive"></i>
                Archive
            </a>
        </li>
    </ul>
</nav> 