@page "/changes"
@using TheFipster.Zomboid.ServerControl.Components.Mods;
@using TheFipster.Zomboid.ServerControl.Models;
@using TheFipster.Zomboid.ServerControl.Services;

@inject IJSRuntime JsRuntime
@inject ModArchiveService ModArchive

<div>
    <h2>
        Changes
    </h2>

    <p>
        Welcome to the changes screen showing the differences between
        the current profile and the server configuration...
    </p>
    <p>
        ...as soon as it is implemented
    </p>

</div>
