@page "/changes"
@using TheFipster.Zomboid.ServerControl.Components.Changes
@using TheFipster.Zomboid.ServerControl.Components.Mods;
@using TheFipster.Zomboid.ServerControl.Models;
@using TheFipster.Zomboid.ServerControl.Services;

@inject IJSRuntime JsRuntime
@inject ModArchiveService ModArchive

<div class="fip-content">
    <h2>
        <i class="fa-solid fa-arrows-split-up-and-left fa-xl"></i>
        Changes
    </h2>

    <ModDiff />

</div>
