@page "/error"

<div>
    <h2>
        <i class="fa-solid fa-bug"></i>
        Error
    </h2>

    <span>
        An error occurred while processing your request. What happened exactly will stay a mystery until this page is implemented.
    </span>
</div>

