@page "/mods"
@using TheFipster.Zomboid.ServerControl.Components.Mods;
@using TheFipster.Zomboid.ServerControl.Models;
@using TheFipster.Zomboid.ServerControl.Services;

@inject ModConfigService ServerConfig
@inject ModArchiveService ModArchive
@inject DockerInteropService DockerInterop

<div class="fip-content">
    <div class="fip-sidebar">
        <ModForm OnModAdded="addModAsync" />
        <ModControls />
    </div>

    <ModList @ref="modlist" />
</div>
