@page "/mods"
@using TheFipster.Zomboid.ServerControl.Components.Mods;
@using TheFipster.Zomboid.ServerControl.Models;
@using TheFipster.Zomboid.ServerControl.Services;

@inject IJSRuntime JsRuntime
@inject ModConfigService ServerConfig
@inject DockerInteropService DockerInterop

<div>
    <ModForm OnModAdded="addModAsync" />
    <ModControls OnRestartConfirmed="restartConfirmedAsync" OnDiff="diffAsync" />
</div>

<ModList @ref="modlist" />
<ModDiff @ref="modDiff" />
<LogList @ref="loglist" />
