@page "/sandbox"
@using TheFipster.Zomboid.ServerControl.Components;
@using TheFipster.Zomboid.ServerControl.Models;
@using TheFipster.Zomboid.ServerControl.Services;

<div class="fip-content">
    <p>Sandbox Configuration</p>
</div>

