@page "/ini"
@using TheFipster.Zomboid.ServerControl.Components;
@using TheFipster.Zomboid.ServerControl.Config;
@using TheFipster.Zomboid.ServerControl.Models;
@using TheFipster.Zomboid.ServerControl.Services;
@using TheFipster.Zomboid.ServerControl.Components.Settings;

@inject IniSettings Settings

<ul>
    <li>PVP: @Model.PVP</li>
    <li>Server Message: @Model.ServerWelcomeMessage</li>
    <li>Max Players: @Model.MaxPlayers</li>
</ul>


<div class="fill">
    <h2>
        <i class="fa-solid fa-file-code fa-xl"></i>
        Server Settings
    </h2>
    @foreach (var entry in Settings.Entries)
    {
        <SettingsChooser Setting="entry" OnValueChanged="valueChanged" />
    }
</div>

