@page "/settings"

@using TheFipster.Zomboid.ServerControl.Components.Settings;

<div class="fip-content">
    <div class="fip-sidebar">
        <Overview />
    </div>
    <div class="fip-main fill">
        <DynamicForm OnValueChanged="valueChanged" />
    </div>
    @*<DebugModel Model="Model" />*@
</div>
