::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: #e4a9ff;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #6A3FBE;
    }
