html, body {
    font-family: 'Poppins', sans-serif;
    color: #ddd;
    background-image: url(../image/bg.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.fip-content {
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fip-layer {
    width: 80%;
    height: 80%;
    min-width: 1000px;
    min-height: 865px;
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
    overflow: hidden;
    padding: 55px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.fip-container {
    height: calc(100% - 75px);
    display: flex;
    gap: 55px;
    justify-content: space-between;
}

.fip-sidebar {
    width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#fip-mods, #fip-logs {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    #fip-mods h2, #fip-logs h2 {
        margin-left: 42px;
    }

    #fip-logs ul {
        height: calc(100% - 148px);
    }

    #fip-mods ul {
        height: calc(100% - 80px);
    }

    #fip-mods ul, #fip-logs ul {
        width: calc(100% - 40px);
        padding-right: 55px;
        overflow: hidden;
        overflow-y: auto;
    }

    #fip-mods li, #fip-logs li {
        border-bottom: 1px solid rgba(228, 169, 255, 0.6);
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.3rem;
        transition: 0.3s;
        cursor: move;
    }

        #fip-mods li:hover, #fip-logs li:hover {
            background-color: rgba(228, 169, 255, 0.1);
        }


        #fip-mods li a, #fip-logs li a {
            margin-right: 30px;
        }

    #fip-logs button {
        width: calc(100% - 40px);
        margin-left: 42px;
    }

#fip-logs {
    display: none;
}

#fip-mod-list {
    overflow-y: auto;
    padding-right: 15px;
}

.fip-mod-item {
    flex-grow: 4;
}

#fip-mod-form {
}

.fip-input-wrap {
    margin-top: 8px;
}


#fip-log-list {
    font-size: 14px;
    margin-bottom: 20px;
}

.fip-state {
    height: 160px;
    line-height: 1.7;
    list-style: none;
    margin-left: -40px;
}

    .fip-state li {
        display: flex;
        justify-content: space-between;
    }

        .fip-state li .fip-attr {
            color: #f7dcff;
        }

    .fip-state li .fip-value {
        font-size: rem;
    }