#fip-logs {
    flex-grow: 4;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

button {
    width: 100%;
}

ul {
    width: 100%;
    /*height: calc(100% - 140px);*/
    padding: 0;
    padding-right: 55px;
    overflow: hidden;
    overflow-y: auto;
    font-size: 14px;
}


li {
    border-bottom: 1px solid rgba(228, 169, 255, 0.6);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.3rem;
    transition: 0.3s;
    cursor: move;
}

    li:hover {
        background-color: rgba(228, 169, 255, 0.1);
    }


    li a {
        margin-right: 30px;
    }