@using Microsoft.AspNetCore.Components.Web
@using TheFipster.Zomboid.ServerControl.Components

@namespace TheFipster.Zomboid.ServerControl.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Zomboid Mod Loader</title>

    <base href="~/" />

    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/poppins" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/shared.css" />
    <link rel="stylesheet" href="css/error.css" />
    <link rel="stylesheet" href="css/scrollbar.css" />
    <link rel="stylesheet" href="css/button.css" />
    <link rel="stylesheet" href="css/icon-button.css" />
    <link rel="stylesheet" href="css/input.css" />
    <link rel="stylesheet" href="css/links.css" />
    <link rel="stylesheet" href="css/titles.css" />
    <link rel="stylesheet" href="css/loader.css" />
</head>
<body>
    <div class="fip-content">
        <div class="fip-layer">
            <component type="typeof(PageHeadline)" render-mode="ServerPrerendered" />
            <div class="fip-container">
                @RenderBody()
            </div>
            <component type="typeof(StatusBar)" render-mode="ServerPrerendered" />
        </div>
    </div>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="js/sortablejs/Sortable.min.js"></script>
    <script src="js/site.js" defer></script>
</body>
</html>
